<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>911446517333-d45j1sp6eh1ihhquo75daobiqrq6j3r8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911446517333-d45j1sp6eh1ihhquo75daobiqrq6j3r8</string>
	<key>API_KEY</key>
	<string>AIzaSyBBk0-zFvQ5F0VBWXZJ3Ulc0KuoBc81dJc</string>
	<key>GCM_SENDER_ID</key>
	<string>911446517333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.remax.infoglobe</string>
	<key>PROJECT_ID</key>
	<string>remax-info</string>
	<key>STORAGE_BUCKET</key>
	<string>remax-info.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911446517333:ios:f5d7a81028dd9aa83ad6dc</string>
	<key>DATABASE_URL</key>
	<string>https://remax-info.firebaseio.com</string>
</dict>
</plist>